body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column; /* Change back to column so footer goes below content-wrapper */
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5% 10%;
}


.content-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%; /* Ensure it takes full width */
    justify-content: space-between;
}

.left, .right {
    background-color: #f9f9f9;
    padding: 2vw; /* Adjusted to scale with viewport width */
    border-radius: 15px;
    margin: 10px;
    flex: 1; 
    width: calc(50% - 20px); /* Subtracting the margins */
    position: relative; /* Added for the pseudo-element */
}

.left::before, .right::before {
    content: "";
    display: block;
    padding-top: 100%; /* This will maintain the aspect ratio */
}

.name {
    font-size: 4vw; /* Adjusted to scale with viewport width */
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 10%;
}

.position {
    font-size: 2.7vw; /* Adjusted to scale with viewport width */
    position: absolute;
    top: 30%;
    left: 10%;
}
.quote {
    font-size: 1.7vw; /* Adjusted to be smaller than the position */
    color: #888; /* Lighter font color */
    margin-top: 1vw; /* Space between position and quote */
    position: absolute;
    top: 45%;
    left: 10%;
    max-width: 80%; /* To ensure the quote doesn't overflow the container */
}

.socials {
    display: flex; /* Use flexbox for horizontal layout */
    align-items: center; /* Align items vertically in the center */
    position: absolute;
    bottom: 10%; 
    left: 10%;
}



.cv-button {
    display: inline-block;
    background-color: #333; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1vw;
    text-decoration: none;
    margin-left: 2vw; /* Space between social links and button */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    align-self: center; /* Ensure it aligns vertically in the center of the flex container */
}

.icon {
    margin: 0 1vw;
    font-size: 3vw; /* Adjusted to scale with viewport width */
    text-decoration: none;
    color: inherit;
}

.right img {
    border-radius: 50%;
    width: 60%; /* Adjusted to scale with the container */
    height: 60%; /* Adjusted to scale with the container */
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the image */
}


.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.phone, .email {
    font-size: 16px;
}
